@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containner-grid{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: rgb(22, 43, 203);
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.form-flex{
    display: flex;
    justify-content: space-around;
    height: 11rem;
    margin: 33rem;
    flex-direction: column;
    margin-top: 13rem;
}

.form-flex p{
    border: 1px solid black;
    border-radius: 6px;
    padding: 4rem;
    margin: 2rem;
    margin-left: -10rem;
    width: 30rem;
    text-align: center;
    color: #737171;
    font-size: 23px;
}

.section-flex{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: 30rem;
    margin-left: -10rem;
    margin-top: 32px;
}

.section-flex input{
    margin-top: 1rem;
    padding: 12px;
    border-radius: 6px;
    border-color: black;
}

header img{
    width: 8rem;
}

header a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto-Regular';
}